build*/
data/*.hgt
data/*.zip
data/osm-peaks/
data/hgt-zst/
data/hgt3-zst/
data/peaks-europe.tsv
data/geofabrik-peaks/*.osm.pbf
data/peaks-geofabrik.tsv
*.png
dist_native.bin
data/hgt1-zst/
data/prominence.tsv
data/peaks-rejected.tsv
data/fonts/*.ttf
